* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

label:focus,
button:focus,
input:focus {
  outline: none;
}

button:disabled {
  background-color: #f3f6f7;
  color: darkgray;
}

.grid {
  display: grid;
  margin: 0;
  height: 100vh;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: "header header"
                        "left main"

}

/* *** HEADER STYLES *** */

.header {
  background-color: #1F1F3D;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.title-1 {
  color: #FFC30A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.title-1::before,
.title-1::after {
  color: white;
  text-transform: uppercase;
}

.title-1::before {
  content: 'check';
  margin-right: 2px;
}

.title-1::after {
  content: 'self';
  margin-left: 2px;
}

.search-input__label {
  display: flex;
}

.search {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 0 2px 2px 0;
}

.image-search {
  background-color: #C8D3D9;
  display: inline-block;
  background-image: url('../image/search.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 2px 0 0 2px;
}

/* *** LEFT_BAR STYLES *** */

.left-bar {
  background-color: #58798B;
  grid-area: left;
  text-align: center;
}

.left-bar-top {
 padding: 20px 0 ;
}

.left-bar-bottom {
 border-top: 1px solid #4B6E81;
 padding-top: 20px;
 padding-bottom: 20px;
}

.add-button {
  background-color: #1F1F3D;
  color: #FFFFFF;
  height: 40px;
  font-weight: 400;
  position: absolute;
  font-size: -webkit-xxx-large;
  margin-left: -39px;
  width: 39px;
  border-radius: 2px;
}

.add-button-text {
  position: relative;
  top: -14px;
}

.blue-button {
  background-color: #1F1F3D;
  color: #FFFFFF;
  height: 40px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 95%;
  border-radius: 2px;
  font-size: 18px;
}


.left-input {
  border: 1px solid #1f203d;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 10px;
  width: 95%;
}

.text-left {
  color: #C6D3D8;
  text-align: left;
  margin: auto;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 95%;
}

.display-block {
  display: block;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.task-list-wrapper {
  display: flex;
  justify-content: center;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;

}

.task-item {
  color: #fff;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}

.task-item::before {
  background-color: #fff;
  content: "";
  height: 25px;
  display: inline-block;
  background-image: url('../image/delete.svg');
  background-size: cover;
  border-radius: 25px;
  margin-right: 10px;
  width: 25px !important;

}

.item-text {
  font-weight: 100;
  width: 82%;
}

.error {
  color: #b23a25;
  display: none;
  font-size: 18px;
  padding: 2px;
  background-color: #fff;
  margin-bottom: 10px;
}

.error-input{
  border: 2px solid #b23a25;
}

/* *** CONTENT STYLES *** */

.content {
  background-color: #F2F6F7;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.column-one,
.column-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

h3 {
  margin: 0;
}

.task-card {
  background-color: #fafdff;
  border: 2px solid #c7d3d8;
  font-family: 'Open Sans', sans-serif;
  height: fit-content;
  margin-bottom: 20px;
  width: 95%;
}

.task-card__header {
  border-bottom: 2px solid #c7d3d8;
}

.task-card__title {
  color: #1f1f3d;
  text-align: left;
  font-size: 20px;
  padding: 10px;
}

.task-card__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.checkbox {
  display: none;
}

.label-checkbox {
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
}

.label-checkbox--checked {
  color: #3c6577;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

.label-checkbox::before {
  content: '';
  background-image: url('../image/checkbox.svg');
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.checkbox:checked + .label-checkbox::before {
  background-image: url('../image/checkbox-active.svg');
  background-color: #fff;
}

.checkbox:checked + .label-checkbox {
  color: #3c6577;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

.task-card__footer {
  border-top: 2px solid #c7d3d8;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-image {
  width: 30px;
}

.icons-name {
  color: #3c6577;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.urgent-active-icon {
  color: #b23a25;
}

.delete-icon::before,
.urgent-icon::before,
.urgent-active-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 30px;
  display: block;
  margin-bottom: 5px;
}

.urgent-icon::before {
  background-image: url('../image/urgent.svg');
}

.urgent-active-icon::before {
  background-image: url('../image/urgent-active.svg') !important;
}

.urgent {
  background-color: #b23a25;
}

.delete-icon::before {
  content: "";
  background-image: url('../image/delete.svg');
}

.delete-icon:hover::before {
  background-image: url('../image/delete-active.svg');
}

.task-card--urgent {
  background-color: #ffe89d;
  border-color: #ffc30c;
  /* background-color: #ffe89d !important; ########## DO WE NEED THE !IMPORTANT TAG*/
  /* border-color: #ffc30c !important; ########## DO WE NEED THE !IMPORTANT TAG*/
}

.border--urgent {
  border-color: #ffc30c;
  /* border-color: #ffc30c !important; ########## DO WE NEED THE !IMPORTANT TAG*/
}

.hidden {
  display: none;
}

#search-type {
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  font-size: 16px;
}
